body {
    margin: 0;
}

.container {
    margin: 0 auto;
}

.fileBox {
    margin: 0 auto;
    padding: 20px;
    color: #efefef;
}

.fileSend {
    border: 1px solid gray;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.submitFile {
    margin-top: 20px;
    text-align: center;
}